body {
    font-family: "Cormorant Garamond", serif;
    background-color: #f5efe6;
    color: #3e2f2f;
    margin: 0;
    padding: 0;
}

/* Красная полоска сверху */
.top-bar {
    background: linear-gradient(to right, #b22222, #d43f3a);
    height: 100px;
}

/* Заголовок */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #b22222, #d43f3a);
    color: white;
    padding: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.logo {
    margin-left: auto; /* Перемещение логотипа вправо */
}

.logo img {
    width: 90px;
}

/* Используем всю страницу */
.full-page-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 40px;
}

/* Блок информации о блюде */
.dish-info img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
}

/* Оформление выбора ингредиентов */
.ingredient-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.ingredient-option {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Оформление количества порций */
.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.quantity-btn {
    background: #b22222;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.quantity-btn:hover {
    background: #d43f3a;
}

#quantity {
    font-weight: bold;
    padding: 5px 15px;
    min-width: 40px;
    text-align: center;
    border: 2px solid #b22222;
    border-radius: 6px;
}

/* Кнопки */
button {
    background: linear-gradient(to right, #c0392b, #e67e22);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.confirm-btn:hover {
    transform: scale(1.05);
}
