<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ресторан "Шеф Иван"</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>
    <header>
        <h1 class="title">Ресторан "Шеф Иван"</h1>
        <div class="logo">
            <img src="static/images/logo.png" alt="Логотип Шеф Иван">
        </div>
    </header>

    <section class="hero">
        <h2>Настоящая атмосфера Италии</h2>
        <p>Элегантный интерьер, изысканное обслуживание и искреннее гостеприимство.</p>
        <div class="hero-btn">
            <form action="/reservation/">
                <button class="menu-btn">Забронировать столик</button>
            </form>
            <form action="/menu/">
                <button class="order-btn">Сделать заказ</button>
            </form>
            <form action="/fullMenu/">
                <button class="menu-btn">Меню</button>
            </form>
        </div>
    </section>

    <section class="about">
        <h2>О ресторане</h2>
        <p>Наш ресторан вдохновлен классическими итальянскими тратториями. Мы создаём место для наслаждения жизнью.</p>
        <img src="static/images/cook.jpg" alt="Традиционная итальянская деревня" class="cook" width="auto" height="300">
        <img src="static/images/Inter.png" alt="Интерьер ресторана" class="inter" width="auto" height="300">
        <p>В "Шеф Иван" собраны лучшие традиции итальянской кухни, передающие её душу и страсть к изысканным вкусам.</p>
    </section>

    <footer>
        <div class="contact-info">
            <p>📍 Адрес: ул. Центральная, 12, Минск</p>
            <p>📞 Телефон: +375 29 123-45-67</p>
            <p>📧 Email: info@shefivan.by</p>
        </div>
        <div class="quote">
            <p>"Вкус Италии в каждом мгновении"</p>
        </div>
    </footer>
</body>
</html>
